#admin-section-books{
    padding: 70px 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

/* create book btn */
.create-book-btn{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.064);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: var(--general-transition);
    color: white;
}

.create-book-btn:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.064);
}
/* create book btn */

.form-books-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
    width: 100%;
}

.form-books-page > textarea{
    height: 140px;
    resize: none;
}

.form-books-page > textarea::-webkit-scrollbar{
    display: none;
}

.form-books-page input[type="file"]{
    display: none;
}


.form-books-page-input{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

#books-container{
    padding: 0 30px;
}

.admin-options-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#choise-file-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
 }
 
 #choise-file-btn p{
	 margin: 0;
 }

#submit-btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.charCounter{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.charCounter p{
    margin: 0;
    font-weight: bold;
    opacity: .5;
}

.error-message{
    color: red;
    text-align: center;
}

@media (max-width: 575.98px){
    
.form-books-page{
    width: 90%;
}
}

@media (max-width: 767.98px){
    .admin-options-btn{
        padding: 2px 5px;
        font-size: 13px;
    }
}

@media (max-width: 991.98px){
    #books-container{
        padding: 0 8px;
    }

    .form-add-post-anexos > textarea{
        height: 167px;
    }

    .error-message{
        font-size: 14px;
    }
}