#admin-section-posts{
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: 60px;
}

/* create post */
.create-post-btn{
    border-radius: 50%;
    background-color: var(--color-6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: var(--general-transition);
}

.create-post-btn:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--color-6);
    color: var(--color-6);
}
/* create post */

.form-posts-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
    width: 100%;
}

.form-posts-page > textarea{
    height: 250px;
    resize: none;
}

.form-posts-page-input{
    border-radius: 0;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.form-posts-page-input::-webkit-scrollbar{
    display: none;
}

.post{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.026);
    border-radius: 8px;
}

.post:last-child{
    margin-bottom: 50px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    padding: 8px 20px 8px 0px;
    align-items: center;
}

.anexo{
    text-decoration: none;
    color: red;
    display: block;
}

.post-admin-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.post-admin-options-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#post-more-options{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    justify-content: start;
    padding: 0;
}

#post-more-options .ver-coments{
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, 0.236);
    padding: 4px;
    min-width: fit-content;
}

@media (max-width: 575.98px){
    .form-posts-page{
        width: 90%;
    }
}