#admPanel-section{
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: 60px;
}

.post{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.026);
    border-radius: 8px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    padding: 8px 20px 8px 0px;
    align-items: center;
}

.post-title{
    
}

.post-adm-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.post-adm-options-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.edit-post-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.edit-post-form > textarea{
    height: 350px;
    resize: none;
}

.edit-post-form >::-webkit-scrollbar{
    display: none;
}

.edit-post-form-input, .form-add-post-input{
    outline: none;
    padding: 10px;
    width: 100%;
    border: none;
    border: none;
    border-radius: 5px;
}

.form-add-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
    width: 100%;
}

.form-add-post > textarea{
    height: 250px;
}

.form-add-post-input{
    border-radius: 0;
    border: none;
    border-left: 2px solid var(--color-6);
}

.edit-post-form-input{
    border-radius: 0;
    border: none;
    border-left: 2px solid var(--color-6);
}

.add-post-btn{
    width: 100%;
}

.dooPost-btn, .logout-btn{
    border-radius: 50%;
    background-color: var(--color-6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: var(--general-transition);
}

.dooPost-btn:hover, .logout-btn:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--color-6);
    color: var(--color-6);
}

@media (max-width: 991.98px){
    #admPanel-section{
        
    }
    .post-adm-options-btn{
        padding: 2px;
    }
}