.sidebarItemContent{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.364);
    text-decoration: none;
}

#sidebarIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    width: 20%;
}

#sidebarItemTitle{
    font-size: 18px;
    transition: .8s;
    margin: 0 0 0 10px;
    width: 80%;
    transition: .3s;
}

#sidebarItemTitle:hover{
    color: rgb(251, 94, 94);
}
