#modal-container{
    background-color: rgba(0, 0, 0, .9);
    min-height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: start;
}

#adm-icon-container{
    display: flex;
    justify-content: center;
}

#adm-icon{
    color: var(--color-3);
}

#close-modal-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: none;
    border: none;
    padding: 0px;
    cursor: auto;
}

.close-icon{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
#modal-content{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    width: 45%;
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-content::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 900px){
    #modal-content{
        background-color: whitesmoke;
        padding: 5px;
        border-radius: 5px;
        width: 80%;
    }
}