#header{
}

#nav-bar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 60px;
	background-color: black;
	border-bottom: 1px solid rgba(0, 0, 0, 0.045);
}

/* sidebar */
#sidebar-visible{
	background-color: black;
	height: 100vh;
	position: absolute;
	top: 60px;
	left: 0;
	transition: var(--general-transition);
	border-right: 1px solid rgba(12, 12, 12, 0.227);
	width: 18%;
}

#sidebar-invisible{
	height: 100vh;
	position: absolute;
	top: 60px;
	left: -70%;
	transition: var(--general-transition);
	border-right: 1px solid rgba(12, 12, 12, 0.227);
	width: 8%;
}

.sidebar-link{
	text-decoration: none;
	color: white;
}

#toggleSidebarBtn{
	font-size: 20px;
	cursor: pointer;
	color: white;
}
/* sidebar */

.logo-container-and-btn-toggle{
	padding: 10px 0px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

#toggle-sidebar-container{
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#go-to-profile-container{
	background-color: white;
	border-radius: 50%;
}

#go-to-profile-btn{
	border-radius: 50%;
	border: 1px solid rgba(52, 52, 52, 0.262);
	cursor: pointer;
}

#profile-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#profile-photo{
	width: 200px;
}

#profile-more-info{
	margin: 10px 0;
}

#profile-more-info h4{
	font-size: 16px;
	margin-bottom: 10px;
}

#update-profile-form{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
}

#update-profile-form .adm-input-update{
    outline: none;
    padding: 15px;
	margin: 10px;
    border: none;
	width: 90%;
}

#update-profile-form input[type="file"]{
	display: none;
}

#choise-file-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
 }
 
 #choise-file-btn p{
	 margin: 0;
 }

 #update-profile-form #submit-btn-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pass-input-container{
	margin: 10px;
    outline: none;
    border: none;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    position: relative;
	padding: 0;
}

.pass-input-container #new, .pass-input-container #prev{
    width: 100%;
    margin: 0;
}

.pass-input-container button{
    margin-right: 10px;
    padding: 0px 0px 0px 8px;
    position: absolute;
    height: 100%;
    border-radius: 0;
    border: none;
}

#see-pass-icon{
    opacity: 0.5;
}

#more-options{
	display: flex;
	gap: 10px;
}


@media screen and (max-width: 900px){
	#nav-bar{
		padding: 0 5%;
		justify-content: space-between;
	}

	#sidebar-visible{
		width: 100%;
	}
}

