#header{
}

#nav-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0 5% 0 1.8%;
	height: 60px;
	background-color: #172026;
	border-bottom: 1px solid rgba(0, 0, 0, 0.045);
}

#go-to-profile-container{
	background-color: white;
	border-radius: 50%;
}

#go-to-profile{
	border-radius: 50%;
	border: 1px solid rgba(52, 52, 52, 0.262);
	cursor: pointer;
}

#profile-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#profile-photo{
	width: 300px;
}

#profile-more-info{
	margin-bottom: 10px;
}

#profile-more-info h4{
	font-size: 16px;
	margin-bottom: 10px;
}

.logo-container{
	padding: 10px 0px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#toggleSidebarBtn{
	font-size: 20px;
	cursor: pointer;
	color: white;
}

.logo-link{
	text-decoration: none;
	font-family: var(--bold-font);
	font-size: 25px;
	transition: var(--general-transition);
	margin: 0;
}

#sidebar-visible{
	background-color: #172026;
	height: 100vh;
	position: absolute;
	top: 60px;
	left: 0;
	transition: var(--general-transition);
	border-right: 1px solid rgba(12, 12, 12, 0.227);
	width: 18%;
}

#sidebar-invisible{
	height: 100vh;
	position: absolute;
	top: 60px;
	left: -70%;
	transition: var(--general-transition);
	border-right: 1px solid rgba(12, 12, 12, 0.227);
	width: 8%;
}

.sidebar-link{
	text-decoration: none;
	color: white;
}

.nav-list{
	display: flex;
	gap: 20px;
	align-items: center;
	margin: 0;
	padding: 0px;
}

#nav-content-container{
}

.nav-bar-link{
	text-decoration: none;
	font-size: 18px;
	color: var(--color-1);
	transition: var(--general-transition);
}


.add-post-btn{
    width: 100%;
}

.dooPost-btn, .logout-btn{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.064);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: var(--general-transition);
}

.dooPost-btn:hover, .logout-btn:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.064);
}

#update-profile-form{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
}

#update-profile-form .adm-input-update{
    outline: none;
    padding: 15px;
	margin: 10px;
    border: none;
	border-left: 2px solid var(--color-6);
	width: 90%;
}

#update-profile-form input[type="file"]{
	display: none;
}

#choise-file-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
 }
 
 #choise-file-btn p{
	 margin: 0;
 }

.pass-input-container{
	margin: 10px;
    outline: none;
    border: none;
    width: 90%;
    display: flex;
    justify-content: end;
    position: relative;
	padding: 0;
}

.pass-input-container #new, .pass-input-container #prev{
    width: 100%;
    margin: 0;
}

.pass-input-container button{
    margin-right: 10px;
    padding: 0px 0px 0px 8px;
    position: absolute;
    height: 100%;
    border-radius: 0;
    border: none;
}

#see-pass-icon{
    opacity: 0.5;
}

#more-options{
	display: flex;
	gap: 10px;
}

@media screen and (max-width: 900px){
	#nav-bar{
		padding: 0 5%;
	}

	.logo-link{
		font-size: 20px;
		margin-right: 10px;
	}

	#sidebar-visible{
		width: 50%;
	}

	#nav-content-container{
		
	}

	.nav-list{
		flex-direction: column;
		position: absolute;
		background-color: var(--color-1);
		top: 100%;
		left: 0%;
		height: 100vh;
		width: 100%;
		transition: var(--general-transition);
		padding: 0;
		gap: 5px;
	}

	#nav-list-visible{
		flex-direction: column;
		position: absolute;
		left: 0%;
		top: 0%;
		align-items: center;
	}

	#nav-list-disable{
		flex-direction: column;
		position: absolute;
		left: 100%;
		top: 0%;
	}

	.nav-list-item{
		display: flex;
		align-items: center;
		width: 100%;
	}

	.nav-bar-link{
		color: white;
		width: 100%;
		display: flex;
		padding: 8px 20px;
		justify-content: flex-start;
		transition: var(--general-transition);
	}

	#search-form-input{
		background-color: whitesmoke;
		border-color: var(--color-1);
	}
	#search-btn{
		background-color: var(--color-6);
		color: var(--color-1);
		border: 0;
		height: 45px;
	}
	#search-btn:hover{
		color: white;
	}
}

