#header{
}

#nav-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0 5%;
	height: 60px;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid rgba(0, 0, 0, 0.045);
}

.logo-container{
	
}

#adm-actions{
}

.logo-link{
	text-decoration: none;
	font-family: var(--bold-font);
	font-size: 25px;
	transition: var(--general-transition);
}

#nav-content-container{
}

@media screen and (max-width: 900px){
	#nav-bar{
		
	}
	.logo-link{
		font-size: 20px;
		margin-right: 10px;
	}

	#nav-content-container{
		
	}

	.nav-list{
		flex-direction: column;
		position: absolute;
		background-color: var(--color-1);
		top: 100%;
		left: 0%;
		height: 100vh;
		width: 100%;
		transition: var(--general-transition);
		padding: 0;
		gap: 5px;
	}

	#nav-list-visible{
		flex-direction: column;
		position: absolute;
		left: 0%;
		top: 0%;
		align-items: center;
	}

	#nav-list-disable{
		flex-direction: column;
		position: absolute;
		left: 100%;
		top: 0%;
	}

	.nav-list-item{
		display: flex;
		align-items: center;
		width: 100%;
	}

	.nav-bar-link{
		color: white;
		width: 100%;
		display: flex;
		padding: 8px 20px;
		justify-content: flex-start;
		transition: var(--general-transition);
	}

	#search-form-input{
		background-color: whitesmoke;
		border-color: var(--color-1);
	}
	#search-btn{
		background-color: var(--color-6);
		color: var(--color-1);
		border: 0;
		height: 45px;
	}
	#search-btn:hover{
		color: white;
	}
}

