.OnePost{
    margin-top: 80px;
    min-height: 100vh;
}

.OnePost #header{
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
	left: 0;
    height: 60px;
    justify-content: space-between;
    padding: 0px 150px;
    align-items: center;
    background-color: black;
}

#logo-container{

}

#back-btn{
    background:none;
    border: none;
    color: white;
}

.post-title-and-back-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.post-title-and-back-btn h4{
    margin: 0;
}

#back-btn{
    background:none;
    border: none;
    font-size: 14px;
}
.coment{
    margin-bottom: 8px;
    padding: 5px 10px;
}

#comements-container{
    height: 250px;
    overflow-y: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.189);
    border-bottom: 1px solid rgba(0, 0, 0, 0.189);
}

#comements-container::-webkit-scrollbar{
    display: none;
}

.coment_info p{
   margin: 0;
}

.coment-header{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.085);
}
.name_delete{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coment-data{
    font-size: 12px;
}

.coment-adm-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.coment-adm-options-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.coment-content-container{
    
}

@media (max-width: 575.98px){
    .OnePost #header{
        padding: 0px 50px;
    }
}
